/vendor/
node_modules/
npm-debug.log
yarn-error.log
/reports/
.github
.idea

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
storage/framework/cache/data/*

mysql/data/*
